{{#each this}}
<div class="div-div">
<h2 class="title">{{name}}</h2>
<div class="div">
<div>
<ul class="list">
    <li>
<span class="title">Capital:</span>{{capital}}
    </li>
    <li>
<span class="title">Population:</span>{{population}}
    </li>
    <li>
        
        <span class="title">Languages:</span>
    {{#each languages}}
    <li class="list-countries">{{name}}</li>
    {{/each}}

    </li>
    </div>
    <div>
    <li class="list">
        <img src="{{flag}}" alt="" width="300px" height="300px">
    </li>
    </div>
</ul>
</div>
</div>
{{/each}}